.inner {
	div {
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #893829;

		&:nth-child(1) {
			inset-block-start: 0;
			transition: all 0.3s ease-out;
		}

		&:nth-child(2) {
			width: 50px;
			inset-block-start: 50%;
			inset-inline-start: 22%;
			transform: translateY(-50%);
			transition: all 0.3s ease-out;
		}

		&:nth-child(3) {
			width: 36px;
			inset-block-end: 0;
			inset-inline-start: 44%;
			transition: all 0.3s ease-out;
		}
	}
}

.active {
	div {
		&:nth-child(1) {
			inset-block: 50%;
			transform: translateY(-50%);
		}

		&:nth-child(2) {
			transform: scale(0);
			opacity: 0;
		}

		&:nth-child(3) {
			inset-block: 50%;
			transform: translateY(-50%);
			opacity: 0;
		}
	}
}
