@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark,
		cupcake;
}

@theme {
	--font-sans: 'Raleway Variable', sans-serif;
	--font-serif: 'Raleway Variable', serif;
	--font-mono: 'Raleway Variable', monospace;

	--ind-xs: 0 0 25px 0;
	--ind-sm: 0 0 50px 0;
	--ind-md: 0 0 100px 0;
	--ind-xxl: 0 0 250px 0;

	--cont-xs: 16px;
	--cont-sm: 20px;
	--cont-md: 30px;
	--cont-xxl: 40px;
}

@layer utilities {
	.ind {
		margin: 0 0 12px 0;
	}
	@media (min-width: 768px) {
		.ind {
			margin: var(--ind-xs);
		}
	}
	.ind-sm {
		margin: var(--ind-sm);
	}
	.ind-md {
		margin: var(--ind-md);
	}
	.ind-2xl {
		margin: var(--ind-xxl);
	}

	.cont {
		@apply px-[var(--cont-xs)];
	}
	.cont-sm {
		@apply px-[var(--cont-sm)];
	}
	.cont-md {
		@apply px-[var(--cont-md)];
	}
	.cont-2xl {
		@apply px-[var(--cont-xxl)];
	}

	.cont-left {
		@apply pl-[var(--cont-xs)];
	}
	.cont-left-sm {
		@apply pl-[var(--cont-sm)];
	}
	.cont-left-md {
		@apply pl-[var(--cont-md)];
	}
	.cont-left-2xl {
		@apply pl-[var(--cont-xxl)];
	}

	.cont-right {
		@apply pr-[var(--cont-xs)];
	}
	.cont-right-sm {
		@apply pr-[var(--cont-sm)];
	}
	.cont-right-md {
		@apply pr-[var(--cont-md)];
	}
	.cont-right-2xl {
		@apply pr-[var(--cont-xxl)];
	}
}

/* @layer base {
	.fancybox__caption {
		@apply font-sans;
	}
} */

html {
	scroll-behavior: smooth;
}

body {
	@apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply mb-3 pt-3 md:mb-[25.23px] md:pt-[28.77px];
}

h1 {
	@apply text-xl md:text-2xl;
}
h2 {
	@apply text-lg md:text-xl;
}
h3 {
	@apply text-base md:text-lg;
}
h4,
h5,
h6 {
	@apply text-sm md:text-base;
}

.prose h1 {
	@apply text-xl md:text-2xl;
}
.prose h2 {
	@apply text-lg md:text-xl;
}
.prose h3 {
	@apply text-base md:text-lg;
}
.prose h4,
.prose h5,
.prose h6 {
	@apply text-sm md:text-base;
}

p {
	margin: 0;
}

main {
	@apply mb-24;
}

/* Крестик очистки в поле поиска — прижат к правому краю */
input[type='search']::-webkit-search-cancel-button {
	position: relative;
	left: 2rem;
}
